.miniHeaders {
  color: rgb(30, 56, 25);
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
}

.preGame {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.buttons {
  margin: 30px;
}
